@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Download AKP";
    Layout = "~/Views/Shared/_PlainLayout.cshtml";
}

<section class="overview-block-ptb iq-over-black-70 jarallax iq-breadcrumb3 text-left iq-font-white" style="background-image: url('/Content/Frontend/revolution/assets/s1.jpg'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-12">
                <div class="iq-mb-0">
                    <h2 class="iq-font-white iq-tw-6">Download AKP</h2>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <nav aria-label="breadcrumb" class="text-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="ion-android-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Download AKP</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="overview-block-ptb iq-hide">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 iq-best-box">
                <h3 class="small-title iq-tw-6">Download Mobile App</h3>
                <p>Please click <a href="~/Content/app-debug.apk">here</a> to download in install mobile app. </p>

            </div>

        </div>

    </div>
</section>