<div class="footer">
    <!-- MAIN FOOTER -->
    <div class="main">
        <div class="section">
            <div class="row">
                <div class="col-md-5 left-column">
                    <div class="footer-logo"><img src="~/Content/NewFront/img/master/logo3.png" alt=""></div>
                    <div class="about-footer">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                    </div>
                    <div class="social-footer">
                        <h6>Follow Us</h6>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></div>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></div>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></div>
                        <div class="social-items"><a href="#"><div class="icon-fa"><i class="fa fa-dribbble" aria-hidden="true"></i></div></a></div>
                    </div>
                </div>
                <div class="col-md-3 center-column">
                    <div class="footer-categories">
                        <h6>CATEGORY LISTS</h6>
                        <div class="categories-list">
                            <div class="categoties-items"><a href="1-agency.html">Agency</a></div>
                            <div class="categoties-items"><a href="2-beauty.html">Beauty</a></div>
                            <div class="categoties-items"><a href="3-construction.html">Construction</a></div>
                            <div class="categoties-items"><a href="4-corporate.html">Corporate</a></div>
                            <div class="categoties-items"><a href="5-courier.html">Courier</a></div>
                            <div class="categoties-items"><a href="6-dealer.html">Dealer</a></div>
                        </div>
                        <div class="categories-list-2">
                            <div class="categoties-items"><a href="7-dental.html">Dental</a></div>
                            <div class="categoties-items"><a href="8-education.html">Education</a></div>
                            <div class="categoties-items"><a href="9-gym.html">Gym</a></div>
                            <div class="categoties-items"><a href="10-hotel.html">Hotel</a></div>
                            <div class="categoties-items"><a href="11-medical.html">Medical</a></div>
                            <div class="categoties-items"><a href="12-restaurant.html">Restaurant</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 right-column">
                    <div class="subscribe-footer">
                        <h6>NEWSLETTER</h6>
                        <p>Suscribe to our newsletter and get the lastest scoop right to your inbox!</p>
                        <div class="newsletter-box">
                            <form action="#" method="post" name="sign-up">
                                <input type="email" class="input" id="email" name="email" placeholder="Your email address" required>
                                <input type="submit" class="button" id="submit" value="SIGN UP">
                            </form>
                        </div>
                        <p class="cursive">Your email is safe with us, we don't spam.</p>
                    </div>
                </div>
            </div>
            <hr class="line-footer">
            <div class="bottom-footer">
                <div class="left-footer">
                    <p>© 2018 Merit Premium Multi-Porpose Theme</p>
                </div>
                <div class="right-footer">
                    <p><a href="about-style-1.html">About</a> &nbsp;/&nbsp; <a href="#">Privacy & Policy</a> &nbsp;/&nbsp; <a href="contact-style-1.html">Contact Us</a> </p>
                </div>
            </div>
        </div>
    </div>
</div>