<div class="nav-menus-wrapper">
    <ul class="nav-menu align-to-right">
        <li>
            <a href="#">HOME</a>
            <div class="megamenu-panel">
                <div class="megamenu-lists">
                    <ul class="megamenu-list list-col-4">
                        <li><a href="1-agency.html">Agency</a></li>
                        <li><a href="2-beauty.html">Beauty</a></li>
                        <li><a href="3-construction.html">Construction</a></li>
                        <li><a href="4-corporate.html">Corporate</a></li>

                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li><a href="5-courier.html">Courier</a></li>
                        <li><a href="6-dealer.html">Dealer</a></li>
                        <li><a href="7-dental.html">Dental</a></li>
                        <li><a href="8-education.html">Education</a></li>

                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li><a href="9-gym.html">Gym</a></li>
                        <li><a href="10-hotel.html">Hotel</a></li>
                        <li><a href="11-medical.html">Medical</a></li>
                        <li><a href="12-restaurant.html">Restaurant</a></li>

                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li><a href="13-charity.html">Charity</a></li>
                        <li><a href="14-cleaning.html">Cleaning</a></li>
                        <li><a href="15-finance.html">Finance</a></li>
                        <li><a href="16-industrial.html">Industrial</a></li>

                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">PAGES</a>
            <ul class="nav-dropdown">
                <li>
                    <a href="#">ABOUT</a>
                    <ul class="nav-dropdown">
                        <li><a href="about-style-1.html">About Style 1</a></li>
                        <li><a href="about-style-2.html">About Style 2</a></li>
                        <li><a href="about-style-3.html">About Style 3</a></li>
                        <li><a href="about-style-4.html">About Style 4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">CAREERS</a>
                    <ul class="nav-dropdown">
                        <li><a href="careers-style-1.html">Careers Style 1</a></li>
                        <li><a href="careers-style-2.html">Careers Style 2</a></li>
                        <li><a href="careers-style-3.html">Careers Style 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">COMING SOON</a>
                    <ul class="nav-dropdown">
                        <li><a href="coming-soon-style-1.html">Coming Soon Style 1</a></li>
                        <li><a href="coming-soon-style-2.html">Coming Soon Style 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                    <ul class="nav-dropdown">
                        <li><a href="contact-style-1.html">Contact Style 1</a></li>
                        <li><a href="contact-style-2.html">Contact Style 2</a></li>
                        <li><a href="contact-style-3.html">Contact Style 3</a></li>
                        <li><a href="contact-style-4.html">Contact Style 4</a></li>
                        <li><a href="contact-style-5.html">Contact Style 5</a></li>
                        <li><a href="contact-style-6.html">Contact Style 6</a></li>
                    </ul>
                </li>
                <li><a href="login-register-style-1.html">LOGIN/REGISTER</a></li>
                <li>
                    <a href="#">PROFILE</a>
                    <ul class="nav-dropdown">
                        <li><a href="profile-style-1.html">Profile Style 1</a></li>
                        <li><a href="profile-style-2.html">Profile Style 2</a></li>
                        <li><a href="profile-style-3.html">Profile Style 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">SERVICES</a>
                    <ul class="nav-dropdown">
                        <li><a href="services-style-1.html">Services Style 1</a></li>
                        <li><a href="services-style-2.html">Services Style 2</a></li>
                        <li><a href="services-style-3.html">Services Style 3</a></li>
                        <li><a href="services-style-4.html">Services Style 4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">TEAM</a>
                    <ul class="nav-dropdown">
                        <li><a href="team-style-1.html">Team Style 1</a></li>
                        <li><a href="team-style-2.html">Team Style 2</a></li>
                        <li><a href="team-style-3.html">Team Style 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">404 PAGE</a>
                    <ul class="nav-dropdown">
                        <li><a href="404-error-style-1.html">404 Page Style 1</a></li>
                        <li><a href="404-error-style-2.html">404 Page Style 2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">SHORTCODES</a>
            <div class="megamenu-panel">
                <div class="megamenu-lists">
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SHORTCODES 1</a></li>
                        <li><a href="shortcodes/accordions.html"><i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Accordions</a></li>
                        <li><a href="shortcodes/alerts.html"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> &nbsp; Alerts</a></li>
                        <li><a href="shortcodes/animations.html"><i class="fa fa-exchange" aria-hidden="true"></i> &nbsp; Animations</a></li>
                        <li><a href="shortcodes/blockquotes.html"><i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp; Blockquotes</a></li>
                        <li><a href="shortcodes/breadcrumbs.html"><i class="fa fa-share" aria-hidden="true"></i> &nbsp; Breadcrumbs</a></li>
                        <li><a href="shortcodes/buttons.html"><i class="fa fa-square" aria-hidden="true"></i> &nbsp; Buttons</a></li>
                        <li><a href="shortcodes/call-to-action.html"><i class="fa fa-bullhorn" aria-hidden="true"></i> &nbsp; Call to Action</a></li>
                        <li><a href="shortcodes/charts.html"><i class="fa fa-circle-o-notch" aria-hidden="true"></i> &nbsp; Charts</a></li>
                        <li><a href="shortcodes/content-boxes.html"><i class="fa fa-th-large" aria-hidden="true"></i> &nbsp; Content Boxes</a></li>
                        <li><a href="shortcodes/counters.html"><i class="fa fa-bullseye" aria-hidden="true"></i> &nbsp; Counters</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SHORTCODES 2</a></li>
                        <li><a href="shortcodes/customers.html"><i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp; Customer</a></li>
                        <li><a href="shortcodes/dropcaps.html"><i class="fa fa-font" aria-hidden="true"></i> &nbsp; Dropcaps</a></li>
                        <li><a href="shortcodes/flip-boxes.html"><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp; Flip Box</a></li>
                        <li><a href="shortcodes/google-maps.html"><i class="fa fa-map" aria-hidden="true"></i> &nbsp; Google Maps</a></li>
                        <li><a href="shortcodes/grid-boxes.html"><i class="fa fa-th" aria-hidden="true"></i> &nbsp; Grid Boxes</a></li>
                        <li><a href="shortcodes/icon-boxes.html"><i class="fa fa-th-large" aria-hidden="true"></i> &nbsp; Icon Boxes</a></li>
                        <li><a href="shortcodes/icon-circle.html"><i class="fa fa-circle-thin" aria-hidden="true"></i> &nbsp; Icon Circle</a></li>
                        <li><a href="shortcodes/image-gallery.html"><i class="fa fa-expand" aria-hidden="true"></i> &nbsp; Image Gallery</a></li>
                        <li><a href="shortcodes/images.html"><i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp; Images</a></li>
                        <li><a href="shortcodes/image-hover.html"><i class="fa fa-object-ungroup" aria-hidden="true"></i> &nbsp; Image Hover</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SHORTCODES 3</a></li>
                        <li><a href="shortcodes/lightbox.html"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> &nbsp; LightBox</a></li>
                        <li><a href="shortcodes/modal-popup.html"><i class="fa fa-search-plus" aria-hidden="true"></i> &nbsp; Modal Popup</a></li>
                        <li><a href="shortcodes/pagination.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> &nbsp; Pagination</a></li>
                        <li><a href="shortcodes/parallax.html"><i class="fa fa-random" aria-hidden="true"></i> &nbsp; Parallax</a></li>
                        <li><a href="shortcodes/pricing-table.html"><i class="fa fa-table" aria-hidden="true"></i> &nbsp; Pricing Tables</a></li>
                        <li><a href="shortcodes/process-steps.html"><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; Process Steps</a></li>
                        <li><a href="shortcodes/profile-cards.html"><i class="fa fa-address-card-o" aria-hidden="true"></i> &nbsp; Profile Cards</a></li>
                        <li><a href="shortcodes/progress-bar.html"><i class="fa fa-tasks" aria-hidden="true"></i> &nbsp; Progress Bar</a></li>
                        <li><a href="shortcodes/recent-posts.html"><i class="fa fa-newspaper-o" aria-hidden="true"></i> &nbsp; Recent Posts</a></li>
                        <li><a href="shortcodes/section-styles.html"><i class="fa fa-outdent" aria-hidden="true"></i> &nbsp; Section Styles</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SHORTCODES 4</a></li>
                        <li><a href="shortcodes/separators.html"><i class="fa fa-minus" aria-hidden="true"></i> &nbsp; Separators</a></li>
                        <li><a href="shortcodes/shop-banners.html"><i class="fa fa-language" aria-hidden="true"></i> &nbsp; Shop Banners</a></li>
                        <li><a href="shortcodes/social-icons.html"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; Social Icons</a></li>
                        <li><a href="shortcodes/tables.html"><i class="fa fa-table" aria-hidden="true"></i> &nbsp; Tables</a></li>
                        <li><a href="shortcodes/tabs.html"><i class="fa fa-window-maximize" aria-hidden="true"></i> &nbsp; Tabs</a></li>
                        <li><a href="shortcodes/team.html"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; Team</a></li>
                        <li><a href="shortcodes/testimonials.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Testimonials</a></li>
                        <li><a href="shortcodes/timeline.html"><i class="fa fa-arrow-down" aria-hidden="true"></i> &nbsp; Timeline</a></li>
                        <li><a href="shortcodes/videos.html"><i class="fa fa-video-camera" aria-hidden="true"></i> &nbsp; Videos</a></li>
                        <li><a href="shortcodes/wide-sections.html"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp; Wide Sections</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">SLIDERS</a>
            <div class="megamenu-panel">
                <div class="megamenu-lists">
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SLIDERS 1</a></li>
                        <li><a href="rev-sliders/3d-parallax-scenes.html">3D Parallax Scenes</a></li>
                        <li><a href="rev-sliders/404-error.html">404 Error</a></li>
                        <li><a href="rev-sliders/agency-slider.html">Agency Slider</a></li>
                        <li><a href="rev-sliders/app-showcase.html">App Showcase</a></li>
                        <li><a href="rev-sliders/blur-effect.html">Blur Effect</a></li>
                        <li><a href="rev-sliders/car-dealer.html">Car Dealer</a></li>
                        <li><a href="rev-sliders/carousel-gallery.html">Carousel Gallery</a></li>
                        <li><a href="rev-sliders/classic-carousel.html">Classic Carousel</a></li>
                        <li><a href="rev-sliders/coming-soon.html">Coming soon</a></li>
                        <li><a href="rev-sliders/concept-slider.html">Concept Slider</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SLIDERS 2</a></li>
                        <li><a href="rev-sliders/double-exposure-effect.html">Double Exposure Effect</a></li>
                        <li><a href="rev-sliders/exploration-header.html">Exploration Header</a></li>
                        <li><a href="rev-sliders/film-strip.html">Film Strip Effect</a></li>
                        <li><a href="rev-sliders/fine-dining.html">Fine Dining</a></li>
                        <li><a href="rev-sliders/gravity-design.html">Gravity Design</a></li>
                        <li><a href="rev-sliders/happy-hollidays.html">Happy Hollidays</a></li>
                        <li><a href="rev-sliders/hero-sports.html">Hero Sports</a></li>
                        <li><a href="rev-sliders/inspiration-header.html">Inspiration Header</a></li>
                        <li><a href="rev-sliders/levano-slider.html">Levano Slider</a></li>
                        <li><a href="rev-sliders/magazine-posts.html">Magazine Posts</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SLIDERS 3</a></li>
                        <li><a href="rev-sliders/mask-showcase.html">Mask Showcase</a></li>
                        <li><a href="rev-sliders/mountain-parallax.html">Mountain Parallax</a></li>
                        <li><a href="rev-sliders/over-expousure.html">Over Exposure</a></li>
                        <li><a href="rev-sliders/panorama.html">Panorama</a></li>
                        <li><a href="rev-sliders/parallax-joy.html">Parallax Joy</a></li>
                        <li><a href="rev-sliders/parallax-zoom.html">Parallax Zoom</a></li>
                        <li><a href="rev-sliders/particle-effect-one.html">Particle Effect one</a></li>
                        <li><a href="rev-sliders/particle-effect-two.html">Particle Effect Two</a></li>
                        <li><a href="rev-sliders/particle-effect-three.html">Particle Effect Three</a></li>
                        <li><a href="rev-sliders/portfolio-viewer.html">Portfolio Viewer</a></li>
                    </ul>
                    <ul class="megamenu-list list-col-4">
                        <li class="megamenu-list-title"><a href="#">SLIDERS 4</a></li>
                        <li><a href="rev-sliders/product-showcase.html">Product Showcase</a></li>
                        <li><a href="rev-sliders/rock-band.html">Rock Band</a></li>
                        <li><a href="rev-sliders/scroll-effects.html">Scroll Effect</a></li>
                        <li><a href="rev-sliders/slider-gym.html">Slider Gym</a></li>
                        <li><a href="rev-sliders/slider-news.html">Slider News</a></li>
                        <li><a href="rev-sliders/weather.html">Weather</a></li>
                        <li><a href="rev-sliders/web-agency.html">Web Agency</a></li>
                        <li><a href="rev-sliders/web-product.html">Web Product</a></li>
                        <li><a href="rev-sliders/website-intro.html">Website Intro</a></li>
                        <li><a href="rev-sliders/youtube-hero.html">Youtube Hero</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">SHOP</a>
            <ul class="nav-dropdown">
                <li>
                    <a href="#">CLASSIC</a>
                    <ul class="nav-dropdown">
                        <li><a href="shop/full-width.html">Full width</a></li>
                        <li><a href="shop/left-sidebar.html">Left sidebar</a></li>
                        <li><a href="shop/right-sidebar.html">Right sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">PRODUCT DETAILS</a>
                    <ul class="nav-dropdown">
                        <li><a href="shop/product-full-width.html">Full width</a></li>
                        <li><a href="shop/product-left-sidebar.html">Left sidebar</a></li>
                        <li><a href="shop/product-right-sidebar.html">Right sidebar</a></li>
                    </ul>
                </li>
                <li><a href="shop/shopping-cart.html">SHOPING CART</a></li>
                <li><a href="shop/checkout.html">CHECKOUT</a></li>
            </ul>
        </li>
        <li>
            <a href="#">BLOG</a>
            <ul class="nav-dropdown">
                <li>
                    <a href="#">CLASSIC</a>
                    <ul class="nav-dropdown">
                        <li><a href="blog/blog-full-width.html">Full width</a></li>
                        <li><a href="blog/blog-left-sidebar.html">Left sidebar</a></li>
                        <li><a href="blog/blog-right-sidebar.html">Right sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GRID</a>
                    <ul class="nav-dropdown">
                        <li><a href="blog/blog-grid-one-column.html">One column</a></li>
                        <li><a href="blog/blog-grid-two-column.html">Two column</a></li>
                        <li><a href="blog/blog-grid-three-column.html">Three column</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">THUMBNAIL</a>
                    <ul class="nav-dropdown">
                        <li><a href="blog/thumbnail-full-width.html">Full width</a></li>
                        <li><a href="blog/thumbnail-left-sidebar.html">Left sidebar</a></li>
                        <li><a href="blog/thumbnail-right-sidebar.html">Right sidebar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">SINGLE POST</a>
                    <ul class="nav-dropdown">
                        <li><a href="blog/single-post-left-sidebar.html">Left sidebar</a></li>
                        <li><a href="blog/single-post-right-sidebar.html">Right sidebar</a></li>
                        <li><a href="blog/video-post.html">Video post</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>