.main-nav{
    position: absolute;
    width: 100%;
    z-index: 999;
}

.rev_slider img{
    width:100%
}

.rev_slider::after{ 
    width: 100%;
	height:30%;
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
    z-index:100;
    display:block;
    transition:all .3s ease;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0) 4%, rgba(0,0,0,30) 100%); 
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); 
}

.no-padding{
    padding: 0px 15px 0px 15px;
}

.dental-bar{
    margin-top: -220px;
    position: relative;
    text-align: center;
}

.dental-bar p{
    font-size: 13px;
}

.dental-col-1, .dental-col-2, .dental-col-3, .dental-col-4{
    padding: 40px 10px 50px 10px;
    color: #FFF;
}

.dental-col-1, .dental-col-3{
    background: #3FB6E0; 
}

.dental-col-2, .dental-col-4{
    background: #65c4e6;
}

.dental-circle{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #FFF;
    margin: auto auto 20px auto;
}

.dental-icon{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.dental-icon img{
    width: 100%;
}

.dental-about h6{
    color: #3FB6E0;
    font-style: italic;
    font-size: 16px;
}

.dental-about p{
    line-height: 1.7;
    margin-bottom: 15px;
    color: #808080;
}

.dental-signature{
    width: 200px;
    margin: 20px 0px 30px 0px;
}

.dental-signature img{
    width: 100%;
}

.about-pic{
    margin-top: -50px;
}

.about-pic img{
    width: 100%;
}

.dental-parallax{
    background-image: url("../img/images/dental/img2.jpg");
    height: 450px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}

.parallax-content{
    bottom: 50px;
    color: #FFF;
    max-width: 650px;
}

.parallax-content h1{
    font-weight: 600;
    font-size: 50px;
}

.counter-facts{
    margin-top: 30px;
}

.inner-facts{
    width: 200px;
    height: 70px;
    display: inline-block;
    margin-right: 10px;
}

.facts-icon{
    float: left;
    margin-right: 15px;
    width: 40px;
}

.facts-icon img{
    width: 100%;
}

.inner-facts .counter{
    margin: 0px;
    text-align: left;
    padding: 0px;
    color: #FFF;
    font-weight: 600;
}

.inner-facts p{
    margin-top: 5px;
}

.dental-services{
    padding: 30px 20px 30px 20px;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

.dental-icon-services{
    width: 50px;
    height: 50px;
    margin: auto;
}

.dental-icon-services img{
    width: 100%;
}

/* ========== #FILTER GALLERY ========== */
.section .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.filters .nav-items{
    width: 400px;
    margin: 0px auto 20px auto;
}

.nav .nav-item{
    display: inline-block;
    margin-right: 10px;
}

.section .nav-item{
  position: relative;
  padding: 0 2px;
  margin: 0 2px;
  font-size: 14px;
  color: #808080;
  text-decoration: none;
  line-height: 1.5;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  color:#01B9AF;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.nav-item.active {
  color: #D9A404;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.project {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 20px);
          flex: 1 0 calc(100% - 20px);
  
}

@media (min-width: 520px) {
  .project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / 2) );
            flex: 0 0 calc((100% / 2) );
  }
}
@media (min-width: 860px) {
  .project {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100% / 3) );
            flex: 0 0 calc((100% / 3) );
  }
}

@media (max-width: 991px) {
    .gallery .nav-item {
        font-size: 15px;
    }
}

.project-image{
  margin: 2px;
}

.project-image img {
  display: block;
  width: 100%;
  height: auto;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6f6f6;
  background: rgba(89, 89, 89, 0.8);
  opacity: 0;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}
.project-info:hover {
  opacity: 1;
}

.project-info-title {
  margin: 0 0 .5em;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.project-info-button {
  padding: .5em 1em;
  color: inherit;
  text-decoration: none;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
.project-info-button:hover {
  color: #FFF;
  background: #333;
  border-color: #333;
}

h3.project-info-title{
    font-family: 'Open Sans', sans-serif;
}
h3.project-info-title{
    font-family: 'Open Sans', sans-serif;
}

.project-info-button p {
    color: #fff;
}

.project-image .magnific-img img {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
    border-radius: 0px;
    
}

.project-image .magnific-img {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.magnific-img img  a:link {
    text-decoration: none;
    color: transparent;
}

.magnific-img img a:visited {
    text-decoration: none;
    color: transparent;
}

.magnific-img img a:hover {
    text-decoration: none;
    color: transparent;
}

.magnific-img img a:active {
    text-decoration: none;
    color: #000;
}

/* ========== #TO BE REPLACE ON THE CSS PAGE ========== */

/* ================== 
	1.5. LOADER. 
   ================== */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1031;
  background-color: #F2F2F2;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #3FB6E0;
  border-radius: 50%;
  animation: loader 2s linear infinite;
}
#loader::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #3FB6E0;
  border-radius: 50%;
  animation: loader 3s linear infinite;
}
#loader::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #3FB6E0;
  border-radius: 50%;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

hr.center{
    width: 80px;
    border-top: 3px solid #3FB6E0;
    margin: 15px auto 15px auto;
}

.footer-categories h6{
	color: #3FB6E0;
}

.subscribe-footer h6{
	color: #3FB6E0;
	margin-bottom: 10px;
}

.newsletter-box .button {
  	width: 25%;
  	height: 38px;
  	background-color: #3FB6E0;
  	border: none;
  	border-radius: 0 5px 5px 0;
  	font-family: inherit;
  	font-weight: 500;
  	color: inherit;
  	letter-spacing: 1px;
  	cursor: pointer;
  	color: #FFF;
  	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.cd-top {
  background-color: #3FB6E0;    
}

.icon-fa:hover{
    background: #3FB6E0;
	border: solid 1px #3FB6E0;
}

.social-top .fa:hover{
	color: #3FB6E0;
}

.btn-custom2{
  color: #FFF;
  background-color: #32DAC3;
  border-color: #32DAC3;
  transition: 0.3s;
}
.btn-custom2:focus,
.btn-custom2.focus {
  color: #FFF;
  background-color: #3FB6E0;
  border-color: #3FB6E0;
}
.btn-custom2:hover {
  color: #FFF;
  background-color: #3FB6E0;
  border-color: #3FB6E0;
}
.btn-custom2:active,
.btn-custom2.active,
.open > .dropdown-toggle.btn-custom2 {
  color: #FFF;
  background-color: #3FB6E0;
  border-color: #3FB6E0;
}

@media (max-width:1150px) {

.dental-signature{
    width: 150px;
    margin: 10px 0px 20px 0px;
}

.dental-about p{
    line-height: 1.4;
    margin-bottom: 10px;
}

}

@media (max-width:992px) {

.dental-bar{
    margin-top: -65px;
    position: relative;
    text-align: center;
}
    
.dental-col-1, .dental-col-2, .dental-col-3, .dental-col-4{
    padding: 40px 10px 60px 10px;
    color: #FFF;
}
    
.dental-circle{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #FFF;
    margin: auto auto 20px auto;
}

.dental-icon{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}
    
.dental-signature{
    width: 200px;
    margin: 30px 0px 30px 0px;
}

.dental-about p{
    line-height: 1.7;
    margin-bottom: 15px;
}
      
}

@media (max-width:768px) {
.parallax-content h1{
    font-size: 40px;
}
    
.parallax-content{
    color: #FFF;
    max-width: 100%;
}
    
.dental-parallax { 
    height: 550px; 
    padding-top: 100px; 
}
    
}

@media (max-width:576px) {
    
.dental-parallax { 
    height: 550px; 
    padding-top: 80px; 
}
    
.inner-facts{
    width: 200px;
    height: 70px;
    display: block;
    margin: 15px 0px 15px 0px;
}
    
.inner-facts .counter{
    font-size: 30px;
}
    
.inner-facts p{
    margin-top: 0px;
}

}

@media (max-width:450px) {
    
.dental-parallax { 
    height: 600px; 
}
    
.parallax-content h1{
    font-size: 30px;
    line-height: 1.2;
    margin: 5px 0px 10px 0px;
}
    
}