@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

/* ================== 
	1.1. RESET. 
   ================== */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* ================== 
	1.2. TYPOGRAPHY. 
   ================== */
h1{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

h2{
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

h3{
    font-size: 20px;
    font-family: 'Lato', sans-serif;    
}

h4{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}

h5{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

h6{
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #808080;
    line-height: 2;
}

.container-fluid{
    height: 700px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content{
    margin: 100px 0px 100px 0px;
}

.header-container{
    position: relative;
    height: 700px;
}

.header{
    margin: 50px 0px 50px 0px;
}

.logo{
    width: 150px;
    float: left;
}

.logo img{
    width: 100%;
}

.purchase-btn{
    float: right;
}

.hero-slogan{
    position: absolute;
    margin: auto;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 768px;
    height: 250px;
    border-radius: 3px; 
}

.hero-slogan h1{
    text-align: center;
    color: #FFF;
    font-size: 55px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-slogan h2{
    text-align: center;
    color: #FFF;
    padding: 0px 100px 0px 100px;
    line-height: 1.7;
    color: #cccccc;
}


.btn {
  display: inline-block;
  padding: 10px 25px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 0px;
  font-family: 'Lato', sans-serif;
}

.btn-default {
  color: #FFFF;
  background-color: transparent;
  border-color: #FFFF;
  transition: 0.3s;
}
.btn-default:focus,
.btn-default.focus {
  color: #FFF;
  background-color: #FF404C;
  border-color: #FF404C;
}
.btn-default:hover {
  color: #FFF;
  background-color: #FF404C;
  border-color: #FF404C;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #FF404C;
  border-color: #FF404C;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #FFF;
  background-color: #FF404C;
  border-color: #FF404C;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.theme-preview{
    box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -moz-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -webkit-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -o-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    margin: 30px 0px 30px 0px;
}

.theme-preview img{
    width: 100%;
}

.container h1{
    text-align: center;
}

.feature-list{
    margin-top: 30px;
    text-align: center;
}

.span-circle{
    width: 110px;
    height: 110px;
    box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -moz-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -webkit-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -o-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    border-radius: 50%;
    position: relative;
    margin: 30px auto 30px auto;
    
}

.inner-icon{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.inner-icon img{
    width: 100%;
}

.footer{
    height: 500px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer .container{
    height: 500px;
    color: #FFF;
    position: relative;
}

.footer-slogan{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 768px;
    height: 100px;
    text-align: center;
}

.footer-slogan h5{
    color: #cccccc;
}

.footer-slogan p{
    margin-top: 30px;
}



/* ==========================================================================
   	5. MEDIA QUERIES MODULE.
   ========================================================================== */

/* ================================== 
	5.1. TYPOGRAPHY BREAKPOINTS VIEW. 
   ================================== */
@media (min-width:576px) {
h1 {
    font-size: 24px;
} 

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}
    
}

@media (min-width:768px) {
h1 {
    font-size: 26px;
  }  
    
h2 {
    font-size: 24px;
    line-height: 1.2;
  }
    
h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}
    
}

@media (min-width:992px) {
h1 {
    font-size: 32px;
  }  
    
h2 {
    font-size: 24px;
  }
    
h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}
    
}





@media (max-width:992px) {  
.hero-slogan h1{
    font-size: 50px;
    margin-bottom: 10px;
}
    
.content{
    margin: 50px 0px 50px 0px;
}
    
}

@media (max-width:768px) { 
.logo{
    width: 120px;
    float: left;
}
    
.btn {
  display: inline-block;
  padding: 8px 18px;
  margin-bottom: 0;
  font-size: 14px;
  border: 1px solid #FFF;
}
    
.hero-slogan{
    width: 100%;
    height: 200px;
}
    
.hero-slogan h1{
    font-size: 40px;
    margin-bottom: 10px;
}
    
.hero-slogan h2{
    font-size: 18px;
     padding: 0px 80px 0px 80px;
}
    
.footer-slogan{
    width: 100%;

}
    
}

@media (max-width:576px) {  
    
.container-fluid{
    height: 500px;
}
    
.header-container{
    position: relative;
    height: 500px;
}
    
.hero-slogan{
    width: 100%;
    height: 160px;
}
    
.hero-slogan h1{
    font-size: 30px;
    margin-bottom: 10px;
}
    
.hero-slogan h2{
    font-size: 18px;
     padding: 0px 50px 0px 50px;
}
    
}

@media (max-width:450px) { 
    
.logo{
    float: none;
    margin: auto;
}

.purchase-btn{
    float: none;
    margin: 20px auto 20px auto;
}
    
.purchase-btn p{
    text-align: center;
}
    
.btn {
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 0;
  font-size: 14px;
}
    
    .footer-slogan{
        padding: 0px 20px 0px 20px;
    }
   

    
}












