@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

/* ========== #TYPOGRAPHY ========== */
h1{
    font-size: 24px;
	font-family: 'Roboto Slab', serif;
}

h2{
    font-size: 22px;
	font-family: 'Lato', sans-serif;
}

h3{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

h4{
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

h5{
    font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

h6{
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

p{
    font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

/* ========== #HEADER ========== */

.main-slider{
    height: 900px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 190px 0px 150px 0px;
}

.hero-background img{
    width: 100%;
}

.hero-info{
    margin-top: 150px;
}

.hero-info h1{
    color: #FFF;
    font-size: 50px;
    line-height: 1.2;
}

.hero-info h2{
    color: #FFF;
    text-align: left;
    margin: 10px 0px 25px 0px;
}

/* ========== #NAVBAR ========== */

.main-nav{
    position: absolute;
    width: 100%;
    z-index: 999;
    margin-top: 30px;
    background-color: transparent;
}

.nav-logo{
  background-image: url("../img/master/logo.png");
  width: 114px;    
  height: 40px;
  margin: 20px auto;
  padding: 0 15px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-logo img{
    width: 100%;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
   -webkit-box-shadow: 0 4px 4px -6px #333;
	   -moz-box-shadow: 0 4px 4px -6px #333;
	        box-shadow: 0 4px 4px -6px #333;
}

.navbar-fixed-top.scrolled .nav-logo{
  background-image: url("../img/master/logo-2.png");
  width: 114px;    
  height: 40px;
  margin: 20px auto;
  padding: 0 15px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}

.nav-menu > li > a {
    font-family: 'Lato', sans-serif;
    color: #FFF;
}

.navbar-fixed-top.scrolled .nav-menu > li > a {
  height: 70px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
}

.nav-toggle:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}

.navbar-fixed-top.scrolled .nav-toggle:before {
  background-color: #012C40;
  box-shadow: 0 0.5em 0 0 #012C40, 0 1em 0 0 #012C40;
}

.nav-menu > li:hover > a,
.nav-menu > li.active > a,
.nav-menu > li.focus > a {
  color: #FFF; 
}

.btn-custom {
  color: #FFF;
  background-color: #9dc71f;
  border-color: #9dc71f;
  transition: 0.3s;
  padding: 6px 24px;
  font-size: 16px;
}
.btn-custom:focus,
.btn-custom.focus {
  color: #FFF;
  background-color: #9dc71f;
  border-color: #9dc71f;
}
.btn-custom:hover {
  color: #FFF;
  background-color: #7a9a18;
  border-color: #7a9a18;
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: #FFF;
  background-color: #9dc71f;
  border-color: #9dc71f;
}

hr.center{
    width: 80px;
    border-top: 3px solid #9dc71f;
    margin: 15px auto 15px auto;
}

/* ========== #PRODUCT SLIDER ========== */

.shop-banner-img img{
    width: 100%;
}


.product-pic img{
    width: 100%;
}

.produc-info{
    margin: 150px 0px 150px 0px;
}

.produc-info h1{
    margin-top: -5px;
    font-size: 40px;
}

.produc-info h6{
    text-transform: uppercase;
}

.produc-info p{
    line-height: 1.8;
    margin-bottom: 20px;
}

.shop-front-thumbs{
    background: #FFF;
    padding: 20px;
    height: 490px;
    margin: 20px 0px 20px 0px;
}

.shop-front-thumbs:hover{
    box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -moz-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -webkit-box-shadow: 0 0 10px rgba(204,204,204,0.6);
    -o-box-shadow: 0 0 10px rgba(204,204,204,0.6);
}

hr.shop{
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 25px auto 15px auto;
}

.shop-thumb-img{
    width: 200px;
    margin: auto;
}

.top-caption{
    margin-bottom: 10px;
    width: 200px;
    height: 60px;

}

.top-caption h6{
    color: #1f5fc7;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
}

.bottom-caption{
    margin: 20px 0px 20px 0px;
    clear: both;
}

.bottom-caption h6{
    color: #333;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
}

old-price{
    text-decoration: line-through;
}

.rating-box .ratingp-stars{
    display: inline-block;
    margin-right: 2px;
    font-size: 13px;
}

.bottom-caption-left{
    float: left;
}

.bottom-caption-right{
    float: right;
}

hr.more-product{
	width: 100%;
    border-top: 1px solid #e6e6e6;
    margin: 20px 0px 20px 0px;
}

.item-info h6{
    text-align: center;
    color: #666;
    text-transform: uppercase;
    margin-top: 10px;
    transition: 0.3s;
}

.item-info h5{
    text-align: center;
    font-weight: 500;
    transition: 0.3s;
}

.item-info p{
    text-align: center;
    margin-top: 10px;
}

.item-box:hover .item-info h6{
    color: #999;
}

.item-box:hover .item-info h5{
    color: #999;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
    display: none;
}
.slick-dots li.slick-active button {
  background-color: #cc0023;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #cc0023;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: #cc0023;
}

.navigation-arrows{
    float: right;
    margin-top: -35px;
}

.navigation-arrows .prev {
  color: #666;
  display: inline-block;
  padding: 5px 12px 5px 12px;
  transition: 0.3s;
}

.navigation-arrows .prev:hover {
  color: #333;
}

.navigation-arrows .prev .fa {
  font-size: 25px;
}

.prev :hover {
  cursor: pointer;
}

.navigation-arrows .next {
  color: #666;
  display: inline-block;

  transition: 0.3s;
}

.navigation-arrows .next:hover {
  color: #333;
}

.navigation-arrows .next .fa {
  font-size: 25px;
}

.next :hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .next, .prev {
    display: none !important;
  }
}

#carousel-example-generic {
  display: inline-block;
}

ul.thumbnails-carousel {
	padding: 5px 0 0 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}
ul.thumbnails-carousel .center {
	display: inline-block;
}
ul.thumbnails-carousel li {
	margin: 0px 1px 0px 1px;
	float: left;
	cursor: pointer;
    max-width: 104px;
}

ul.thumbnails-carousel li img {
	width: 100%;
}
.controls-background-reset {
	background: none !important;
}
.active-thumbnail {
	opacity: 0.4;
}
.indicators-fix {
	bottom: 70px;
}

.carousel .item {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.carousel-inner{
    height: 100%;
}

@media (max-width:768px) {
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
} 
    
.middle h1{
    font-size: 50px;
    text-align: center;
}

.middle h2{
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
}

.middle p{
    text-align: center;
    padding-top: 20px;
}
    
}

@media (max-width:440px) {   
.middle h1{
    font-size: 35px;
    text-align: center;
}

.middle h2{
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
}
    
}

.span-item img{
    width: 100%;
}

.horizontal-banner{
    width: 100%;
}

.product-box{
    padding: 2px 10px 2px 10px;
}

.product-box .item-img{
    float: left;
    margin-right: 20px;
}

.product-box .item-details{
    margin: 20px 0px 20px 0px;
    clear: both;
    height: 80px;
}

.product-box .item-details h6{
    font-size: 16px;
    margin-bottom: 10px;
    color: #1f5fc7;
}

.span-services{
    background: #FFFF;
    height: 260px;
    padding: 40px 20px 0px 20px;
    margin: 15px 0px 15px 0px;
}

.span-services .service-icon{
    width: 50px;
    height: 50px;
    margin: auto;
}

.span-services .service-icon img{
    width: 100%;
}



.span-services h6{
    text-align: center;
    margin: 15px 0px 10px 0px;
    font-weight: 600;
}

.span-services p{
    text-align: center;
    font-size: 13px;
    color: #808080;
}

/* ========== #SCROLLING TOP ========== */
@media only screen and (min-width: 1024px) {
  main p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(255, 64, 76, 1) url(../img/master/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 5px;  
  background-color: #9dc71f;    
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #CC0023;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  } 
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* ========== #TESTIMONIALS ========== */

.main-gallery{
    margin-bottom: 15px;
}

.gallery-cell {
  width: 100%;
    background: #fff;
}

.testimonial-section{
    min-height: 200px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}

.avatar img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-quote{
    margin: 15px  100px 5px 100px;
}

.testimonial-quote p{
    text-align: center;
    font-size: 15px;
}

.autor h6{
    text-align: center;
    margin-bottom: 20px;
}

.testimonial {
  text-align: center;
  max-width: 850px;
  margin: 10px auto 10px auto;
}


.flickity-page-dots .dot.is-selected {
  background: #2742B7;
}

.testimonials{
  padding: 20px 15px 20px 15px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.testimonials-services{
  margin: -50px auto 20px auto;
}

.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable .flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-prev-next-button{position:absolute;top:50%;width:44px;height:44px;border:none;border-radius:0%;background:#fff;background:hsla(0,0%,100%,.75);cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}.flickity-prev-next-button:hover{background:#fff}.flickity-prev-next-button:focus{outline:0;box-shadow:0 0 0 5px #09F}.flickity-prev-next-button:active{filter:alpha(opacity=60);opacity:.6}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl .flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl .flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button:disabled{filter:alpha(opacity=30);opacity:.3;cursor:auto}.flickity-prev-next-button svg{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-prev-next-button .arrow{fill:#333}.flickity-prev-next-button.no-svg{color:#333;font-size:26px}.flickity-page-dots{position:absolute;width:100%;bottom:-5px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl .flickity-page-dots{direction:rtl}.flickity-page-dots .dot{display:inline-block;width:30px;height:5px;margin:0 8px;background:#ddd;border-radius:0%;filter:alpha(opacity=25);opacity:.25;cursor:pointer}.flickity-page-dots .dot.is-selected{filter:alpha(opacity=100);opacity:1}


/* ========== #CONTACT ========== */
.contact-front{
    margin-top: 50px;
}

.inner-label{
    margin: 20px 0px 20px 0px;
}

.inner-label p{
    text-align: left;
}

.customize{
    border: none;
    -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
    border-radius: 0px;
    height: 60px;
    padding: 6px 12px;
    font-size: 16px;
	font-family: 'Archivo Narrow', sans-serif;
	border-bottom: solid 1px #d9d9d9;
    color: #cccccc;
}

.customize:focus {
  border-color: #e0ebeb;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.customize::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.customize:-ms-input-placeholder {
  color: #999999;
}
.customize::-webkit-input-placeholder {
  color: #999999;
}

.customize::-ms-expand {
  background-color: none;
  border: 0;
}

/* ========== #CALL OUT BANNER ========== */

.banner-container{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-callout {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  transition: 0.3s;
  float: right;
  border-radius: 4px;
  margin-top: 5px;
}
.btn-callout:focus,
.btn-callout.focus {
  color: #fff;
  background-color: #33cc87;
  border-color: #33cc87;
}
.btn-callout:hover {
  color: #fff;
  background-color: #33cc87;
  border-color: #33cc87;
}
.btn-callout:active,
.btn-callout.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #33cc87;
  border-color: #33cc87;
}

.banner-callout{
    width: 100%;
    height: 120px;
    padding: 30px 20px 45px 20px;
    background: transparent;
    border-radius: 4px; 
}

.info-callout{
    float: left;
    margin-top: -5px;
}

.info-callout h3{
    color: #FFF;
}

.info-callout p{
    color: #FFF;
}

/* ========== #MEDIA QUERIES ========== */


@media (max-width:1250px) {
.main-nav .navigation{
    padding: 0px 20px 0px 20px;
}
}

@media (max-width:992px) {
.main-slider{
  height: 100%;
  padding: 150px 0px 50px 0px;
}
    
.hero-info{
    text-align: center;
    padding: 0px 30px 0px 30px;
    margin: 0px;
}    

.hero-info h2{
    text-align: center;
}
    
.hero-background{
    margin-top: 40px;
}

.banner-callout{
    width: 100%;
    height: 100%;
    padding: 30px;
}
    
.info-callout{
    float: none;
    margin-top: -5px;
}
      
.banner-callout{
    text-align: center;
} 

.btn-callout {
  float: none;
  margin-top: 15px;
  padding: 8px 25px;
}
    
.center-banner{
    margin: 20px 0px 20px 0px;
}
    
.span-services{
    height: 100%;
    padding: 40px 20px 50px 20px;
}
    
.produc-info{
    margin: 30px 0px 0px 0px;
}
    
.produc-info h1{
    font-size: 24px;
}
    
}

@media (max-width:768px) {
.main-nav .navigation{
    padding: 0px;
}
    
.main-nav{
    padding: 0px;
    margin: 0px;
}
    
.navigation {
  width: 100%;
  background-color: transparent;
}
    
.nav-logo{
  width: 80px;    
  height: 28px;
  margin: 20px;
  padding: 0 15px;
}  

.navbar-fixed-top.scrolled .nav-logo{
  width: 80px;    
  height: 28px;
  margin: 20px;
  padding: 0 15px;
}
    
.navbar-fixed-top.scrolled .nav-menu > li > a {
  color: #333;
  height: 100%;
}
    
.nav-menu > li:hover > a,
.nav-menu > li.active > a,
.nav-menu > li.focus > a {
  color: #333;
}
 
}

@media (max-width:576px) {
    
.btn-custom {
  padding: 4px 12px;
  font-size: 14px;
}
    
.hero-info h1{
    font-size: 30px;
    line-height: 1.4;
}
    
.hero-info h2{
    font-size: 20px;
    line-height: 1.2;
}

.testimonial-quote{
    margin: 15px;
    font-size: 13px;
}
    
.testimonial-quote p{
    font-size: 13px;
}
    
}
